img {
	display: block;
	max-width: 100%;
}

h1 {
	font-size: 72px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding-top: 100px;
}

h1:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: white;
	margin: 0 auto;
}

p{
	color: white;
    font-family: georgia, "Times New Roman", serif;
    font-size: 16px;
	text-align: center;
	margin-top: 8px;
	line-height: 20px;

}

.papeldeparede{
	background: url("../img/wallhaven-dgzj9o.jpg") no-repeat center;
	height: 1080px;
}

.video{
	text-align: center;
	margin-top: 60px;
}